/*LOGIN*/
.login-background{
    width: 100vw;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    background-image:url("../Images/background-ecos.png"), linear-gradient(to right bottom, rgb(41, 91, 167), rgb(120, 180, 84));
}


