<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:49161:XE</property>
		<property name="hibernate.connection.username">system</property>
		<property name="hibernate.connection.password">oracle</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<mapping class = "br.com.dbccompany.Cartoes.Entity.BandeiraEntity"></mapping>
		<mapping class = "br.com.dbccompany.Cartoes.Entity.CartaoEntity"></mapping>
		<mapping class = "br.com.dbccompany.Cartoes.Entity.ClienteEntity"></mapping>
		<mapping class = "br.com.dbccompany.Cartoes.Entity.CredenciadorEntity"></mapping>
		<mapping class = "br.com.dbccompany.Cartoes.Entity.EmissorEntity"></mapping>
		<mapping class = "br.com.dbccompany.Cartoes.Entity.LancamentoEntity"></mapping>
		<mapping class = "br.com.dbccompany.Cartoes.Entity.LojaEntity"></mapping>
		<mapping class = "br.com.dbccompany.Cartoes.Entity.LojaXCredenciador"></mapping>
		
	</session-factory>
</hibernate-configuration>